html {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 11pt;
}


h2 {
  font-size: 14pt;
  text-align: center;
}

.rowtitle {
  font-size: 9pt;
  padding: 10px;
}

.knob{
  display: inline-block;
  padding-left: 5px;
  padding-top: 10px;
  height: 99px;
}

.knobcaption{
  font-size: 6pt;
  text-align: center;
  padding: 10px;
}

.small{
  display: inline-block;
}

.heading {
  font-size: 18pt;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}

.subheading {
  font-size: 9pt;
  color: white;
  padding-left: 10px;
  padding-bottom: 10px;
}

.topbar{
  background-color: #000000;
}

.outercontainer{
  display: block;
  padding-top: 20px;
  height: 175px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container{
  display: block;
  border: 5px;
  height: 402px;
  width: 316px;
  margin-right: auto;
  margin-left: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}

.controlbar{
  display: block;
  height: 94px;
  width: 264px;
  margin-right: auto;
  margin-left: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}

.innercontrolbar{
  padding-left: 10px;
}