html {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 22pt;
}


h2 {
  font-size: 28pt;
  text-align: center;
}

h3 {
  font-size: 22pt;
  text-align: center;
  padding: 10px;
}

.knob{
  display: inline-block;
  margin-left: 10px;
  padding-top: 20px;
  height: 198px;
}

.knobcaption{
  font-size: 18pt;
}

.small{
  display: inline-block;
}

.heading {
  font-size: 36pt;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}

.subheading {
  font-size: 18pt;
  color: white;
  padding-left: 10px;
  padding-bottom: 10px;
}

.topbar{
  background-color: #000000;
}

.outercontainer{
  display: block;
  padding: 20px;
  height: 700px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container{
  display: block;
  border: 20px;
  height: 830px;
  width: 715px;
  margin-right: auto;
  margin-left: auto;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.controlbar{
  display: block;
  height: 210px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.innercontrolbar{
  padding-left: 10px;
}