html {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 22pt;
}

h1 {
  font-size: 36pt;
}

.knob{
  display: inline-block;
  padding: 10px;
}

.small{
  display: inline-block;
}

.outercontainer{
  display: block;
  padding: 20px;
  height: 440px;
  width: 503px;
  margin-right: auto;
  margin-left: auto;
}

.container{
  display: block;
  padding: 20px;
  border: 20px;
  height: 300px;
  width: 466px;
  margin-right: auto;
  margin-left: auto;
}

.controlbar{
  display: block;
  height: 179px;
  width: 475px;
  margin-right: auto;
  margin-left: auto;
}