.DS_Store
/roughdrafts/*
index.html.orig
synth.js.orig
reactorImpulse.wav
lib/threedemoscene.js
Arp1.wav
assets/02 Nutshell.mp3
assets/03 I Stay Away.mp3
assets/04 No Excuses.mp3
assets/05 Whale & Wasp.mp3
